<!DOCTYPE html>
<html>
    <head>
        <title>Saurabh Zade </title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="styles.css" >
    </head>
    <body style="font-family: 'Montserrat', sans-serif;background: #e6dace;
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
    <!-- <div style="position: sticky; top:0px"> -->
        <nav class="navbar fixed-top navbar-light bg-light">
            <a class="navbar-brand" href="/">Saurabh Zade </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/personal">Personal</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/project">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/achievements">Achievements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/extra">Extra-Curricular</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>

                  </ul>
                <!-- <div class="navbar-nav">
                <a class="nav-item nav-link active" href='/'>Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href='/personal'>Personal</a>
                <a class="nav-item nav-link" href="/project">Projects</a>
                <a class="nav-item nav-link" href="/achievements">Achievements</a>
                <a class="nav-item nav-link" href='/extra'>Extra-Curricular</a>
                <a class="nav-item nav-link" href="/blog">Blog</a>
                 <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> 
                </div> -->
            </div>
        </nav>
    <!-- </div> -->
    
        